[Unit]
Description=AceProxy
After=network.target

[Service]
User=aceproxy
ExecStart=/opt/HTTPAceProxy-master/acehttp.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
